<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <hooks>
        <hook id="thelia.easy.product.manager.hook.main.in.top.menu.items" class="EasyProductManager\Hook\BackHook">
            <tag name="hook.event_listener" event="main.in-top-menu-items" type="back"  />
        </hook>
    </hooks>
</config>
